.container {
	width: 624px;
	height: 344px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game_title {
	font-family: "Ultra", serif;
	font-weight: 400;
	font-style: normal;
	margin-right: 16px;
	font-size: 37px;
	padding-top: 10px;
}

.grid {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 150px);
	grid-template-rows: repeat(4, 80px);
	gap: 8px;
	box-sizing: border-box;
	align-items: center;
}